h4,ul,ol,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.bodyMenu{float:left;overflow:hidden;padding:0 10px;width:224px;}
.bodyMenu h4{display: block;}
.bodyMenu ul{background-color:#FDFDFD;}
.bodyMenu ul li{font-size:12px;padding:6px 4px 6px 24px;background:url("../image/icon_mark_grey.gif") no-repeat left center;}
.bodyMenu ul li.active{border-top:1px solid #d2dee5;border-bottom:1px solid #d2dee5;background:url("../image/icon_mark_green.gif") no-repeat left center #f2f7fc;}
.bodyMenu ul li img.imgWrap{float:left;margin-right:8px;}
.bodyMenu ul li a.aWrap{display:inline-block;width:196px;color:#3B5998;cursor:pointer;text-decoration:none;}
.bodyMenu ul li a.selected{color:#333;font-weight:bold;background:url(https://s-static.ak.fbcdn.net/rsrc.php/v2/yE/r/JQgQHls27pw.png) no-repeat right center;}
.bodyMenu ul li a:hover{color:#333;background:url(https://s-static.ak.fbcdn.net/rsrc.php/v2/yE/r/JQgQHls27pw.png) no-repeat right center;}
